
body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

.navbar {
    border-bottom: 1px solid #dea02c;
    position: absolute;
    background: white;
    height: 52px;
    width: 100%;
    left: 0;
    top: 0;
}

.logo {
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 10px;
}

.app-container {
    height: calc(100% - 54px);
}

.content {
    margin: 0 0 0 24px;
    position: relative;
    height: 100%;
    top: 48px;
}

.title {
    color: #e6a72e;
    height: 72px;
}

.title > h2 {
    float: left;
}

.title > a {
    position: relative;
    font-weight: bold;
    font-size: 1.5em;
    color: #e6a72e;
    float: left;
    top: 21px;
}

.list {
    max-height: calc(100% - 100px);
    border: 1px solid grey;
    overflow: scroll;
    max-width: 90%;
    padding: 10px;
    width: 500px;
}

.list-item {
    border: 1px solid grey;
    text-decoration: none;
    background: #ffe39f;
    display: list-item;
    margin: 0 0 6px 0;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    height: 30px;
    color: black;

    transition-property: background;
    transition-timing-function: ease;
    transition-duration: 0.85s;
    transition-delay: 0.0s;
}

.list-item:hover {
    background: #ffb600;
}

.list-item > img {
    margin: 0 12px 0 0;
    position: relative;
    height: 40px;
    float: left;
    top: -5px;
}

.background {
    background-position: center center;
    height: calc(100% - 53px);
    background-size: cover;
    position: absolute;
    width: 100%;
    top: 53px;
    right: 0;
}

.viewer {
    height: calc(100vh - 53px);
    position: relative;
    width: 100vw;
    top: 53px;
}

.not-found-msg {
    background: whitesmoke;
    position: relative;
    text-align: center;
    border-radius: 4px;
    opacity: 0.7;
    width: 400px;
    height: 94px;
    left: 20%;
    top: 50px;
}